h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 1rem;
}

nav .brand-logo {
  padding: 0 0 0 25px;
}

.right {
  padding: 0 50px 0 0;
}

.genres {
  font-size: 14px;
  padding-bottom: 1rem;
}

.vote {
  font-size: 16px;
}

.movie-title {
  padding-bottom: 1rem;
}

.card-wrapper {
  margin: 15px auto;
}

.card .card-image{
  height: 100%;
  width: auto;
}

.card .card-content {
  padding: 24px 24px 5px 24px;
}

.movie-card__content {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-action {
  padding: 10px 24px;
  text-align: center;
}

.favorite {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.search-wrapper {
  padding-top: 0.5rem;
}

.search-result {
  z-index: 15;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.search-dropdown__lol {
  z-index: 10000;
}

.search-result li {
  color: black;
}

input {
  color: #777;
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 62px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 45px 0 30px;
  border: 0;
}

input::-moz-placeholder,
input::-webkit-input-placeholder,
input::-webkit-input-placeholder { 
  color: #039be5; 
}

/*Form*/

#dropdown1 {
  top: -68px;
  width: 50% !important;
  overflow: hidden;
}

.genre__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sort__wrapper {
  display: flex;
}

.genre__wrapper p {
  padding: 5px;
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

/*Movie info styles*/

.movie__inner {
  display: flex;
}

.movie__left {
  margin-right: 20px;
}

.movie__info-person {
  display: flex;
  justify-content: space-between;
}

.movie__info h2 {
  font-size: 20px;
}

.movie__info p {
  border-bottom: 1px solid #cddc39;
  padding: 5px;
}

.movie__info-person p {
  margin: 5px 0 5px 0;
  border-bottom: 0;
}

.movie__info-person:nth-child(odd) {
  background-color: #cddc39;
}

.movie__info-rating {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.similar-movies .card .card-image{
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.similar-movies h4 {
  padding-left: 10px;
  padding-bottom: 20px;
}

.similar-movies .movie-title {
  font-size: 16px;
  text-align: center;
}

.auth-card {
  width: 500px;
}

.empty-layout {
  height: 100vh;
  padding-top: 3rem;
}

.card {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}
.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 16px 24px;
}

.card .card-image img {
  max-height: 380px;
}

i.right {
  margin-left: 30px;
  padding-right: 0;
}

.waves-effect:hover {
  background-color: #ced23a;
}

.pagination__mid {
  display: flex;
  margin: 0 15px;
}

.pagination__mid-list {
  display: flex;
}

.pagination a.current {
  background-color: #cddc39;
}

.pagination__inner {
  display: flex;
  align-items: center;
}

.release_date {
  font-size: 16px;
}

.similar-movies__content {
  text-align: center;
}

.similar-movie__title {
  color: #039be5;
  font-size: 16px;
  height: 34px;
  overflow: hidden;
}

.similar-movies__card {
  height: 100%;
  margin-bottom: 20px;
}



